@import "../var.less";

.msw_btn {
  .btnAntd();
  &.msw_btn_disabled {
    cursor: not-allowed;
  }
  .loading {
    animation: rotate 1s linear infinite;
  }
  &.small {
    height: 24px !important;
    padding: 0 7px !important;
    font-size: 14px !important;
    border-radius: 2px !important;
  }
  &.primary {
    background-color: @primary !important;
    border-color: @primary !important;
    color: white !important;

    &:hover {
      background-color: @primary-dark !important;
      border-color: @primary-dark !important;
    }
  }
  &.ghost {
    border: 1px solid @border;
    color: white;
    background-color: transparent;
    border: 1px solid @border;
    &:hover {
      border-color: rgba(255, 255, 255, 0.5) !important;
    }
  }
}
.msw_btn_content_wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    transform-origin: center center;
  }
  to {
    transform: rotate(360deg);
    transform-origin: center center;
  }
}
