@import './var.less';

.msw_container_circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(123, 192, 33);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: absolute;
  right: 50px;
  bottom: 50px;
}
.msw_container {
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 99999;
}
.msw_detail_panel {
  background-color: rgb(245, 245, 245);
  width: 700px;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 12px 48px 16px rgba(0, 0, 0, 0.03),
    0px 9px 28px 0px rgba(0, 0, 0, 0.05), 0px 6px 16px -8px rgba(0, 0, 0, 0.08);
}
.msw_header {
  background-color: #247ae6;
  height: 40px;
  text-align: right;
  line-height: 40px;
  color: white;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  .msw_close {
    height: 40px;
    width: 40px;
    text-align: center;
    cursor: pointer;
  }
}
.msw_content {
  padding: 10px;
  //overflow: auto;
  height: 100%;
  padding-bottom: 30px;
  .resetUi();
  input {
    .inputAntd();
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    appearance: none;
    outline: none;
    display: inline-block;
  }
  .msw_addMock_filter,
  .msw_group_status_wrap,
  .msw_group_input_wrap {
    display: flex;
    align-items: center;
    & > span {
      display: inline-block;
      width: 52px;
    }
    input {
      width: 300px;
    }
  }
  .msw_content_case {
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    .btn {
      font-weight: normal;
      font-size: 14px;
    }
  }
  .msw_content_tab {
    display: flex;
  }
  .msw_content_tab_item {
    padding: 3px 10px;
    width: 100px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    &.active {
      background-color: white;
      color: #247ae6;
    }
  }
  .msw_content_tab_item + .msw_content_tab_item {
    border-left: none;
  }
  .msw_content_tab_body {
    padding: 10px 10px;
    background: white;
  }
  table.msw_request_table {
    margin-top: 10px;
    background-color: white;
    width: 100%;
    button {
      .btnAntd();
      &:hover {
        border-color: @primary;
        color: @primary;
      }
    }
  }
  .msw_table_empty {
    padding: 10px;
    text-align: center;
    border: 1px solid @border;
    border-top: none;
    color: @placeholder;
  }
  table.msw_request_table {
    border-collapse: collapse;
    border-radius: 4px;
    &,
    tr,
    td,
    th {
      border: 1px solid @border;
      padding: 4px 8px;
    }
    th {
      background: rgb(250, 250, 250);
    }
  }

  table.msw_request_table {
    .msw_table_request {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      width: 400px;
      display: inline-block;
      vertical-align: top;
    }
  }

  .msw_mock_content {
    border: 1px solid @border;
    border-radius: 4px;
    border-top-left-radius: 0;
    min-height: 300px;
    padding: 10px;
    .msw_data_edit_header {
      display: flex;
      margin-bottom: 10px;
    }
  }
  .msw_group_content {
    .msw_group_top {
      text-align: right;
      button {
        .btnAntd();
        &:hover {
          border-color: @primary;
          color: @primary;
        }
      }
    }
    input[type='checkbox'] {
      margin-left: 10px;
    }
    .msw_group_content_item {
      margin-top: 20px;
      display: flex;
      align-items: center;
      .msw_group_content_item_label {
        display: inline-block;
        max-width: 90px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      button {
        .inputAntd();
        cursor: pointer;
        display: inline-block;
        width: auto;
        margin-left: 10px;
      }
      .msw_error_hint {
        color: #ff4d4f;
        font-size: 12px;
      }
      .msw_group_copy_btn:hover {
        color: @primary-dark;
        border-color: @primary-dark;
      }
      .msw_group_delete_btn {
        background-color: @error;
        color: white;
        border-color: @error;
      }
      .msw_group_delete_btn:hover {
        background-color: @error-dark;
        border-color: @error-dark;
        color: white;
      }
    }
    .msw_group_content_item_detail {
      display: flex;
      margin-left: 10px;
      align-items: center;
      button.small {
        height: 24px !important;
        padding: 0 7px !important;
        font-size: 14px !important;
        border-radius: 2px !important;
      }
    }
    .msw_group_content_item_input {
      display: inline-block;
      width: 400px;
    }
  }
  .jsoneditor-menu {
    background: @primary;
  }
  .msw_pagination_wrap {
    margin-top: 10px;
    button {
      .btnAntd();
      &:hover,
      &:focus,
      &:active {
        border-color: @primary;
        color: @primary;
      }
    }
    button + button {
      margin-left: 10px;
    }
    text-align: right;
  }
  .msw_jsonEditor_wrap {
    .msw_group_input_wrap {
      input {
        width: 100px;
      }
    }
    .msw_group_upload_wrap {
      display: flex;
      align-items: center;
    }
    .msw_group_upload_wrap {
      button {
        .btnAntd();
        margin-left: 10px;
        &:hover,
        &:focus,
        &:active {
          border-color: @primary;
          color: @primary;
        }
      }
    }
    .msw_save_btn_wrap {
      button {
        .btnAntd();
        color: white;
        margin-left: 10px;
        background: @primary;
        border-color: @primary;
        &:hover,
        &:focus,
        &:active {
          background: @primary-dark;
          border-color: @primary-dark;
        }
      }
    }
  }
}
.msw_mock_detail_wrap {
  .msw_mock_detail_tab {
    position: relative;
    padding-left: 52px;
    .msw_content_tab_vertical {
      position: absolute;
      left: 0;
      top: 0;
    }
    .msw_content_tab_vertical_item {
      width: 52px;
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      transition: all 0.3s ease;
      &.active {
        color: @primary;
        border-right: 2px solid @primary;
      }
      &:hover {
        color: @primary;
      }
    }
  }
}
